html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.container {
    background-color: #000;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    width: 400px;
    border-radius: 5px;
}

.screen {
    text-align: right;
    height: 2em;
}

.calc-btn-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.25em;
    margin-left: 7px;
    font-family: inherit;
    font-size: inherit;
}


.btn {
    font-family: inherit;
    font-size: inherit;
    margin-right: 8px;
    flex-basis: 2em;
    height: 2em;
    cursor: pointer;
    background-color: #d8d9db;
    border: none;
    outline: none;
    border-radius: 5px;
}

.btn:last-child {
    background-color: #df974c;
    color: #fff;
}

.btn:last-child:hover {
    background-color: #dfb07e;
}

.btn:last-child:active {
    background-color: #dd8d37;
}

.btn:hover {
    background-color: #ebebeb;
}
.btn:active {
    background-color: #bbbcbe;
}

.double {
    flex-basis: 4.2em;
}